@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

#profile-container {
  background: none;
}

body {
  background: #6980b8;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
  font-family: "Zilla Slab", serif;
  color: white;
  cursor: cell;
}

::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #6980b8;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid #6980b8;
}

/*FONTS*/
p {
  font-size: 15px;
  text-indent: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a,
a:link,
a:active,
a:visited {
  color: #e67c6a;
  text-decoration: underline;
}

a:hover {
  color: #f7cd72;
}

h1 {
  float: right;
  font-size: 40px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  text-align: right;
  padding-right: 20px;
  border-bottom: double white 3px;
}

/*LAYOUT*/

#falseBorder,
#base {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 200px;
}

#falseBorder {
  border: solid white 7px;
  border-radius: 0 120px;
  clip-path: polygon(0 50%, 96% 50%, 96% 100%, 0 100%);
}

#base {
}

#fc {
  position: absolute;
  margin: auto;
  bottom: 6px;
  left: 6px;
  width: 200px;
  height: 200px;
  background: url(https://github.com/EngulfedMadness/Squam.github.io/blob/main/prevmarv.jpeg?raw=true)
    center / cover;
  border: solid white 7px;
  border-radius: 100%;
}

#infoSpace {
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 6px;
  left: 225px;
  right: 0;
}

#textSpace {
  position: absolute;
  margin: auto;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border: solid white 0.1em;
  overflow: auto;
}

table {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

table th,
table td {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

table th {
  background: #4a5f82;
  border-bottom: solid white 1px;
  padding-bottom: 7px;
  background-clip: content-box;
}

table td {
}

/*BOTTOM TEXT TITLE SPACE*/

#titleSpace {
  position: absolute;
  top: 210px;
  left: 150px;
  right: 0;
}

#titleSpace p {
  text-align: right;
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

